.tasks-component {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;

    display: flex;
    flex-direction: column;
    align-items: center;
}

.tasks-component__task-list {
    display: flex;
    flex-direction: column-reverse;
}
