.task {
    margin-top: 20px;
    padding: 10px;
    border-radius: 10px;
    border: 1px solid rgb(150, 150, 150);
    display: flex;
    flex-direction: row;
    /* box-shadow: 0 15px 30px rgba(30, 30, 30, 0.25), 
    0 10px 10px rgba(30, 30, 30, 0.25); */
}

.task-info {
    flex: 4;
}

.task-buttons {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.task-info__description {
    color: rgb(150, 150, 150);
}

p {
    margin: 10px;
}
